h1 {
  color: green
}

header {
  min-height: 20vh;
}

body {
  background-image: url("./assets/green-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 80vh;
}

.bg-demo {
  width: 50%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  border-radius: 61px;
background: #09f638;
box-shadow: inset 10px 10px 47px #5a5a5a,
            inset -10px -10px 47px #ffffff;
}