*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #09f638;
}
.navbar .brand-title {
  font-size: 1.5rem;
  margin: 0.5px;
}
.navbar .navbar-toggle {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 22px;
  background-color: #09f638;
  border-radius: 1px;
  margin: 0.2rem;
}
.navbar .navbar-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: black;
}
.navbar .navbar-links {
  display: block;
}
.navbar .navbar-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.navbar .navbar-links ul li {
  padding: 0.3rem 1rem;
}
.navbar .navbar-links ul li a {
  text-decoration: none;
  color: black;
}
.navbar .navbar-links ul li:hover {
  background-color: #487751;
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .navbar-toggle {
    display: flex;
  }
  .navbar .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar .navbar-links.active {
    display: flex;
  }
  .navbar .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-links ul li {
    padding: 0.3rem 0.3rem;
  }
}
.landing {
  background-image: url("../../assets/green-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.landing .landing-navbar {
  display: flex;
  flex-direction: row;
  background-color: #09f638;
  justify-content: space-between;
}
.landing .landing-navbar .brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.landing .landing-navbar .navbar-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.landing .landing-navbar .navbar-links ul li {
  padding: 0.5rem 1rem;
}
.landing .landing-navbar .navbar-links ul li a {
  text-decoration: none;
  color: black;
}
.landing .landing-navbar .navbar-links ul li:hover {
  background-color: #487751;
}
.landing .greeting {
  color: black;
}
.landing .greeting h1 {
  font-size: 3rem;
  color: #09f638;
}
.landing .greeting h2 {
  font-size: 1rem;
  color: blue;
}
.landing p {
  font-size: 1.5rem;
}

.signup {
  background-color: #09f638;
  width: 100%;
  min-height: 100vh;
}
.signup h2 {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}
.signup form {
  background-color: rgb(3, 146, 3);
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 5px;
  margin: 1rem auto;
}
.signup form label {
  color: white;
}
.signup form input {
  height: 1.5rem;
}
.signup form .password-input-group {
  width: 100%;
}
.signup form .password-input-group input {
  width: 95%;
}
.signup form .password-input-group button {
  border: 0;
  width: 5%;
}
.signup form button {
  background-color: rgb(3, 146, 3);
  height: 1.5rem;
  border: 2px black solid;
  border-radius: 2px;
}
.signup form button:hover {
  background-color: whitesmoke;
}
.signup form .errorMessage {
  color: rgb(163, 11, 11);
}

.signin {
  background-color: #09f638;
  width: 100%;
  min-height: 100vh;
}
.signin h2 {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}
.signin form {
  background-color: rgb(3, 146, 3);
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 5px;
  margin: 1rem auto;
}
.signin form label {
  color: white;
}
.signin form input {
  height: 1.5rem;
}
.signin form .password-input-group {
  width: 100%;
}
.signin form .password-input-group input {
  width: 95%;
}
.signin form .password-input-group button {
  border: 0;
  width: 5%;
}
.signin form button {
  background-color: rgb(3, 146, 3);
  height: 1.5rem;
  border: 2px black solid;
  border-radius: 2px;
}
.signin form button:hover {
  background-color: whitesmoke;
}
.signin form .errorMessage {
  color: rgb(163, 11, 11);
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #222;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright a {
  color: whitesmoke;
  text-decoration: none;
}
.footer .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.footer .footer-links li {
  margin: 0.3rem 1rem;
}
.footer .footer-links li a {
  color: whitesmoke;
  text-decoration: none;
}

.chats-large {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.chats-large .directchats {
  flex: 1;
  background-color: #09f638;
}
.chats-large .output {
  flex: 2;
}
.chats-large .groupchats {
  flex: 1;
  background: #09f638;
}

.chats-small {
  display: none;
  flex-direction: column;
}

@media (max-width: 400px) {
  .chats-large {
    display: none;
  }
  .chats-small {
    display: flex;
  }
  .chats-small nav {
    width: 100%;
    background-color: #09f638;
  }
  .chats-small nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .chats-small nav ul li {
    flex: 1;
  }
  .chats-small nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    width: 100%;
  }
  .chats-small nav ul li:hover {
    background-color: #222;
  }
}
.create-post {
  display: flex;
  flex-direction: column;
}
.create-post input {
  height: 30px;
  z-index: 1000;
}/*# sourceMappingURL=main.css.map */